@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
@import "button";
body {
	background-size: cover;
	background-image: url(../img/kyiv1.jpg);
	background-attachment: fixed;
}
.section {
	.map-div {
		background-size: cover;
		background-image: url(../img/england.png);
		background-size: 100% 100%;
		.map {
			position: absolute;
			top:10%;
		}
		.mark {
			position: relative;
			background-color: transparent;
			top: 30%;
			left: 50%;
			margin: -64px 0 0 -64px;
		}
	}
	@media screen and (max-width: 768px) {
		.map-div {
			display: none;
		}
	}
	.right {
		h1 {
			font-family: 'Merriweather', serif;
			font-weight: 700;
			color: white;
			font-size: 5em;
		}
		h3 {
			font-family: 'Merriweather', serif;
			font-weight: 400;
			color: white;
			font-size: 1.5em;
			animation-delay: .25s;
		}
		@media all and (max-width: 992px) {
			h1{
				font-size: 3em;
			}
			h3 {
				font-size: 1.2em;
			}
		}
		@media all and (max-width: 768px) {
			h1{
				font-size: 2.5em;
			}
			h3 {
				font-size: 1em;
			}
		}
	}
	ul {
		margin: 50px 0 0 0;
		padding: 0;
		li {
			list-style-type: none;
			clear: both;
			img {
				width: 50px;
				height: 50px;
				float: left;
				margin-right: 10px;
			}
			p {
				color: white;
				font-family: 'Merriweather', serif;
				font-weight: 400;
				padding-top: 15px;
			}
		}
		@for $i from 1 through 3 {
			li:nth-child(#{$i}) {
				animation-delay: .25s+($i*0.25);
			}
		}
	}
	.mouseScroll {
		position: absolute;
		bottom:30px;
		left:50%;
		margin-left: -60px;
		opacity: 0.4;
		cursor: pointer;
		transition: opacity 0.5s;
		.mouse {
			height:34px;
			width:18px;
			border:1px solid white;
			border-radius:25px;
			padding-top: 5px;
			margin: 0 auto;
			transition: padding-top 0.5s;
			.pointInMouse {
				display: block;
				width: 4px;
				height: 4px;
				border-radius:50px;
				background-color: white;
				margin: 0 auto;
			}
		}
		h6 {
			color:white;
			text-transform: uppercase;
			font-family: Arial;
			font-weight: 300;
			margin-top: 5px;
		}
	}
	.mouseScroll:hover {
		opacity: 1;
		.mouse {
			padding-top: 21px;
		}
	}
	.mouseScrollUp {
		bottom: 0;
		.mouse {
			padding-top: 21px;
		}
		&:hover {
			.mouse {
				padding-top: 5px;
			}
		}
	}
	@media screen and (max-width: 768px) {
		.mouseScroll {
			display: none;
		} 
	}
}
.section-two {
	.leftText {
		background-color:white;
		padding: 20px;
		h1 {
			text-align: center;
			font-family: 'Merriweather', serif;
			font-weight: 700;
			animation-delay: .5s;
		}
		hr {
			background-color: black;
			width:100px;
			animation-delay: .75s;
		}
		p {
			text-align: justify;
			font-family: 'Merriweather', serif;
			font-weight: 300;
			animation-delay: 1s;
		}
		nav a{
			animation-delay: 1.25s;
		}
	}
	.rightImg {

		padding: 0;
		background-image: url(../img/kyivSmall.jpg);
		background-size: cover;
		min-height: 300px;
	}
	@media screen and (max-width: 768px) {
		.col-md-12 {
			padding: 0;
		} 
	}
}
.section-third {
	h1 {
		color:white;
		font-family: 'Merriweather', serif;
		font-weight: 700;
	}
	hr {
		background-color: white;
		width:100px;
		
	}
	.col-md-4 {
		margin-bottom: 25px;
		&:first-child, &:nth-child(4){
			padding-right:15px;
			padding-left: 12px;
		}
		&:last-child, &:nth-child(3){
			padding-left: 15px;
			padding-right: 12px;
		}
		.img {
			display: block;
			height:200px;
			outline: 2px solid white;
			outline-offset:-10px;
			position: relative;
			cursor: pointer;
			transition: outline-offset .2s;
			text-align: center;
			padding-top: 70px;
			text-decoration: none;
			&:hover {
				outline-offset:10px;
				&:before {
					opacity:0.4;
				}
			}
			&:before {
				content: ' ';
				background-image: url(../img/harkiv.jpg);
				background-size: cover;
				opacity: 1;
				display: block;
				position: absolute;
				top:0;
				left: 0;
				background-position: center center;
				bottom: 0;
				right: 0;
				z-index: -1;
				transition:opacity .2s;
			}
			h3 {
				color: white;
				font-family: 'Merriweather', serif;
				font-weight: 700;
				animation-delay: .25s;
				&:hover {
					color:white;
				}
			}
			ul {
				margin: 0;
				padding: 0;
				position: absolute;
				bottom:15px;
				right: 15px;
				animation-delay: .25s;
				li {
					list-style-type: none;
					color: white;
					display: inline-block;
					font-family: Arial;
					font-weight: 300;
				}
			}
		}
		.rivne {
			&:before {
				background-image: url(../img/rivne.jpg);
			}
		}
	
		.donetsk {
			&:before {
				background-image: url(../img/donetsk.jpg);
			}
		}
	
		.odessa {
			&:before {
				background-image: url(../img/odessa.jpg);
			}
		}

		.sevastopol {
			&:before {
				background-image: url(../img/sevastopol.jpg);
			}
		}

		.lviv {
			&:before {
				background-image: url(../img/lviv.jpg);
			}
		}
	}
	@media screen and (max-width: 575px) {
			.col-md-4 {
				margin-bottom: 25px;
				&:first-child, &:last-child {
					padding-left: 15px;
					padding-right: 15px;
				}
				&:last-child {
					margin-bottom: 0;
				}
			} 
		}

}
#fp-nav.right {
	a {
		height: 17px;
		width: 17px;
		span {
			background-color: white;
			opacity: 0.4;
		}
	}
	a.active:hover span{
		height: 17px;
		width: 17px;
		margin-left: -9px;
		margin-top: -9px;
	}
	a.active span {
		background-color: transparent;
		opacity: 1;
		background-image: url(../img/dot.png);
		height: 17px;
		width: 17px;
		margin-left: -9px;
		margin-top: -9px;
	}
}





