@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
@import "button";
body {
	background-size: cover;
	background-image: url(../img/kyiv1.jpg);
	background-attachment: fixed;
}
.container-fluid {
		display: table-cell;
		vertical-align: middle;
		height: 100vh;
		.col-md-4 {
			padding: 0;
			background-color: #fff;
			background-image: url(../img/harkiv.jpg);
			background-size: cover;
			min-height: 400px;
			&.rivne {
				background-image: url(../img/rivne.jpg);
			}
			&.donetsk {
				background-image: url(../img/donetsk.jpg);
			}
			&.odessa {
				background-image: url(../img/odessa.jpg);
			}
			&.sevastopol {
				background-image: url(../img/sevastopol.jpg);
			}
			&.lviv {
				background-image: url(../img/lviv.jpg);
			}
		}
		.col-md-8 {
			background-color: #fff;
			text-align: center;
			position: relative;
			padding-top: 25px;
			h1 {
				font-family: 'Merriweather', serif;
				font-weight: 700;
				animation-delay: .25s;
			}
			hr {
				background-color:black;
				width:100px;
				animation-delay: .5s;
			}
			p {
				font-family: 'Merriweather', serif;
				font-weight: 300;
				animation-delay: .75s;
			}
			a {
				animation-delay: 1.25s;
			}
			.info-page {
				position: absolute;
				bottom:0;
				right: 0;
			}
		}
}
@media screen and (max-width: 992px) {
			.info-page {
				position: static !important;
				margin: 50px 0;
			}
}
