@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700");
nav {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: right;
  padding-right: 25px; }
  nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.15em;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }

nav a:hover,
nav a:focus {
  outline: none; }

.cl-effect-10 {
  position: relative;
  z-index: 1; }
  .cl-effect-10 a {
    overflow: hidden;
    margin: 0 15px; }
    .cl-effect-10 a span {
      border: 2px solid white;
      display: block;
      padding: 10px 20px;
      background: transparent;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
  .cl-effect-10 a:hover {
    text-decoration: none;
    color: white; }
  .cl-effect-10 a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background: #fff;
    color: black;
    content: attr(data-hover);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(-100%); }
  .cl-effect-10 a:hover span, .cl-effect-10 a:focus span {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
        transform: translateX(100%); }
  .cl-effect-10 a:hover::before, .cl-effect-10 a:focus::before {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
        transform: translateX(0%); }

nav.black {
  text-align: left; }
  nav.black a {
    color: black; }

.cl-effect-10.black a {
  margin-left: 0; }
  .cl-effect-10.black a span {
    border: 2px solid black; }

.cl-effect-10.black a::before {
  background: black;
  color: #fff; }

body {
  -webkit-background-size: cover;
          background-size: cover;
  background-image: url(../img/kyiv1.jpg);
  background-attachment: fixed; }

.section .map-div {
  -webkit-background-size: cover;
          background-size: cover;
  background-image: url(../img/england.png);
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }
  .section .map-div .map {
    position: absolute;
    top: 10%; }
  .section .map-div .mark {
    position: relative;
    background-color: transparent;
    top: 30%;
    left: 50%;
    margin: -64px 0 0 -64px; }

@media screen and (max-width: 768px) {
  .section .map-div {
    display: none; } }

.section .right h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: white;
  font-size: 5em; }

.section .right h3 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: white;
  font-size: 1.5em;
  -webkit-animation-delay: .25s;
          animation-delay: .25s; }

@media all and (max-width: 992px) {
  .section .right h1 {
    font-size: 3em; }
  .section .right h3 {
    font-size: 1.2em; } }

@media all and (max-width: 768px) {
  .section .right h1 {
    font-size: 2.5em; }
  .section .right h3 {
    font-size: 1em; } }

.section ul {
  margin: 50px 0 0 0;
  padding: 0; }
  .section ul li {
    list-style-type: none;
    clear: both; }
    .section ul li img {
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 10px; }
    .section ul li p {
      color: white;
      font-family: 'Merriweather', serif;
      font-weight: 400;
      padding-top: 15px; }
  .section ul li:nth-child(1) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s; }
  .section ul li:nth-child(2) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s; }
  .section ul li:nth-child(3) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }

.section .mouseScroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -60px;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .section .mouseScroll .mouse {
    height: 34px;
    width: 18px;
    border: 1px solid white;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    padding-top: 5px;
    margin: 0 auto;
    -webkit-transition: padding-top 0.5s;
    -o-transition: padding-top 0.5s;
    transition: padding-top 0.5s; }
    .section .mouseScroll .mouse .pointInMouse {
      display: block;
      width: 4px;
      height: 4px;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      background-color: white;
      margin: 0 auto; }
  .section .mouseScroll h6 {
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 300;
    margin-top: 5px; }

.section .mouseScroll:hover {
  opacity: 1; }
  .section .mouseScroll:hover .mouse {
    padding-top: 21px; }

.section .mouseScrollUp {
  bottom: 0; }
  .section .mouseScrollUp .mouse {
    padding-top: 21px; }
  .section .mouseScrollUp:hover .mouse {
    padding-top: 5px; }

@media screen and (max-width: 768px) {
  .section .mouseScroll {
    display: none; } }

.section-two .leftText {
  background-color: white;
  padding: 20px; }
  .section-two .leftText h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    -webkit-animation-delay: .5s;
            animation-delay: .5s; }
  .section-two .leftText hr {
    background-color: black;
    width: 100px;
    -webkit-animation-delay: .75s;
            animation-delay: .75s; }
  .section-two .leftText p {
    text-align: justify;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  .section-two .leftText nav a {
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s; }

.section-two .rightImg {
  padding: 0;
  background-image: url(../img/kyivSmall.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 300px; }

@media screen and (max-width: 768px) {
  .section-two .col-md-12 {
    padding: 0; } }

.section-third h1 {
  color: white;
  font-family: 'Merriweather', serif;
  font-weight: 700; }

.section-third hr {
  background-color: white;
  width: 100px; }

.section-third .col-md-4 {
  margin-bottom: 25px; }
  .section-third .col-md-4:first-child, .section-third .col-md-4:nth-child(4) {
    padding-right: 15px;
    padding-left: 12px; }
  .section-third .col-md-4:last-child, .section-third .col-md-4:nth-child(3) {
    padding-left: 15px;
    padding-right: 12px; }
  .section-third .col-md-4 .img {
    display: block;
    height: 200px;
    outline: 2px solid white;
    outline-offset: -10px;
    position: relative;
    cursor: pointer;
    -webkit-transition: outline-offset .2s;
    -o-transition: outline-offset .2s;
    transition: outline-offset .2s;
    text-align: center;
    padding-top: 70px;
    text-decoration: none; }
    .section-third .col-md-4 .img:hover {
      outline-offset: 10px; }
      .section-third .col-md-4 .img:hover:before {
        opacity: 0.4; }
    .section-third .col-md-4 .img:before {
      content: ' ';
      background-image: url(../img/harkiv.jpg);
      -webkit-background-size: cover;
              background-size: cover;
      opacity: 1;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-position: center center;
      bottom: 0;
      right: 0;
      z-index: -1;
      -webkit-transition: opacity .2s;
      -o-transition: opacity .2s;
      transition: opacity .2s; }
    .section-third .col-md-4 .img h3 {
      color: white;
      font-family: 'Merriweather', serif;
      font-weight: 700;
      -webkit-animation-delay: .25s;
              animation-delay: .25s; }
      .section-third .col-md-4 .img h3:hover {
        color: white; }
    .section-third .col-md-4 .img ul {
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 15px;
      right: 15px;
      -webkit-animation-delay: .25s;
              animation-delay: .25s; }
      .section-third .col-md-4 .img ul li {
        list-style-type: none;
        color: white;
        display: inline-block;
        font-family: Arial;
        font-weight: 300; }
  .section-third .col-md-4 .rivne:before {
    background-image: url(../img/rivne.jpg); }
  .section-third .col-md-4 .donetsk:before {
    background-image: url(../img/donetsk.jpg); }
  .section-third .col-md-4 .odessa:before {
    background-image: url(../img/odessa.jpg); }
  .section-third .col-md-4 .sevastopol:before {
    background-image: url(../img/sevastopol.jpg); }
  .section-third .col-md-4 .lviv:before {
    background-image: url(../img/lviv.jpg); }

@media screen and (max-width: 575px) {
  .section-third .col-md-4 {
    margin-bottom: 25px; }
    .section-third .col-md-4:first-child, .section-third .col-md-4:last-child {
      padding-left: 15px;
      padding-right: 15px; }
    .section-third .col-md-4:last-child {
      margin-bottom: 0; } }

#fp-nav.right a {
  height: 17px;
  width: 17px; }
  #fp-nav.right a span {
    background-color: white;
    opacity: 0.4; }

#fp-nav.right a.active:hover span {
  height: 17px;
  width: 17px;
  margin-left: -9px;
  margin-top: -9px; }

#fp-nav.right a.active span {
  background-color: transparent;
  opacity: 1;
  background-image: url(../img/dot.png);
  height: 17px;
  width: 17px;
  margin-left: -9px;
  margin-top: -9px; }
